# Connect DB

In [1]:
import sqlite3
# 與myData建立連結
conn = sqlite3.connect("myData3.db")
conn.close()

# Create Table
```
CREATE TEBLE table_name(
    col1 type
    col2 type
    col3 tyoe)

.execute() 執行SQL指令
```

In [2]:
conn = sqlite3.connect("myData3.db")   # 資料庫連線
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS students')
sql = '''CREATE TABLE students(  
        id int PRIMARY KEY,
        name TEXT,
        gender TEXT)'''
cursor.execute(sql)                    # 使用cursor執行SQL指令
cursor.close()                         # 關閉
conn.close()                           # 關閉資料庫連線

In [3]:
import sqlite3
conn = sqlite3.connect("myData3.db")   # 資料庫連線
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS students')
sql = '''CREATE TABLE students(  
        id int PRIMARY KEY,
        name TEXT,
        gender TEXT)'''
conn.execute(sql)                      # 使用conn執行SQL指令
cursor.close()                         # 關閉
conn.close()                           # 關閉資料庫連線

# Insert Data

新增資料
```
INSERT INTO table (col1, col2, col3) VALUSE (val1, val2, val3)
```
可使用通配符「?」
```
x = (val1, val2, val3)
sql = "INSERT INTO table VALUSE (?, ?, ?)"
conn.execute(sql, x)
conn.commit() 提交更改，確保變更是永久的
conn.rollback() 撤銷來自上次commit的所有變更、回到原來狀態
```

In [4]:
import sqlite3
conn = sqlite3.connect("myData3.db")   # 資料庫連線
print("請輸入myData3資料庫students表單資料")
while True:
    new_id = int(input("請輸入id : "))  # 轉成整數
    new_name = input("請輸入name : ")
    new_gender = input("請輸入gender : ")
    x = (new_id, new_name, new_gender)
    sql = '''INSERT INTO students VALUES (?,?,?)'''  
    conn.execute(sql,x)
    conn.commit()                       # 更新資料庫
    again = input("繼續(y/n)? ")
    if again[0].lower() == "n":
        break
conn.close()                            # 關閉資料庫連線

請輸入myData3資料庫students表單資料
請輸入id : 1
請輸入name : David
請輸入gender : m
繼續(y/n)? y
請輸入id : 2
請輸入name : Jane
請輸入gender : f
繼續(y/n)? n

# Query Data

In [5]:
conn = sqlite3.connect("myData3.db")     # 資料庫連線
results = conn.execute("SELECT * FROM students")
for record in results:
    print("id = ", record[0])
    print("name = ", record[1])
    print("gender = ", record[2])
conn.close()                             # 關閉資料庫連線

id =  1
name =  David
gender =  m
id =  2
name =  Jane
gender =  f

In [6]:
conn = sqlite3.connect("myData3.db")     # 資料庫連線
results = conn.execute("SELECT * from students")
allstudents = results.fetchall()         # 結果轉成element是tuple的list

for student in allstudents:
    print(student)
conn.close()                             # 關閉資料庫連線

(1, 'David', 'm')
(2, 'Jane', 'f')

In [7]:
conn = sqlite3.connect("myData3.db")     # 資料庫連線
# 列出性別f學生的姓名、性別
sql = '''SELECT name, gender
        FROM students
        WHERE gender = "f"'''
results = conn.execute(sql)
allstudents = results.fetchall()         # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                             # 關閉資料庫連線

('Jane', 'f')

# Update Data
```
UPDATE table SET column = " " WHERE 條件
```

In [8]:
conn = sqlite3.connect("myData3.db")     # 資料庫連線
# 更改id=1的學生姓名為Tomy
sql = '''UPDATE students
        SET name = "Tomy"
        WHERE id = 1'''
results = conn.execute(sql)
conn.commit()                            # 更新資料庫
results = conn.execute("SELECT name FROM students")
allstudents = results.fetchall()         # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                             # 關閉資料庫連線

('Tomy',)
('Jane',)

# Delete Data
```
DELETE FROM table WHERE 條件
```

In [9]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
sql = '''DELETE
        FROM students
        WHERE id = 2'''
results = conn.execute(sql)
conn.commit()                           # 更新資料庫
results = conn.execute("SELECT name FROM students")
allstudents = results.fetchall()        # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                            # 關閉資料庫連線

('Tomy',)